<?xml version="1.0" encoding="UTF-8"?>
<suite name="HRMDempProject" verbose="1">
	<test name="FullProject">
		<classes>
			<class name="Test_Scripts.Test_Suit" />
			<!-- <methods> 
			<include name="SetUp"></include> 
			<include name="Set_Excel"></include> 
			<include name="Login"></include> </methods> -->
		</classes>
	</test>
</suite>