<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HRMSampleProject">
  <test name="CompleteProcess">
  	<classes>
  		<class name="Test_Scripts.Main_Test_Script"> <!-- Packagename.classname -->
  			<methods>
  				<include name="SetUp"></include>
  				<include name="Set_Excel"></include>
  				<include name="Login"></include>
  			</methods>
  		</class>
  	</classes>
  </test>
</suite> <!-- Suite -->
